<template name="layout">
  {{> header}}
  {{#if currentUser}}
  
  <div id="page-wrapper">
    {{> yield}}      
  </div>
   {{else}}
    <div class="col-lg-12">
    {{> yield}}
    {{> logintemplate}}
  </div>
 {{/if}}
</template>
