<template name="userEdit">
  <form role="form">

    <div class="form-group">
      <label for="username" class="control-label">Username</label>
      <input type="text" required readonly class="form-control" name="username"
        value="{{user.username}}" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="name" class="control-label">Name</label>
      <input type="text" required  class="form-control" name="name"
        value="{{user.profile.name}}" placeholder="Name">
    </div>


    <div class="form-group">
      <label for="email" class="control-label">Email</label>
      <input type="text" class="form-control" name="email"
        value="{{usersEmail}}" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="password" class="control-label">Password</label>
      <input type="password" class="form-control" name="password"
        value="" placeholder="New Password">
    </div>

    <div class="form-group">
      <strong>Active</strong>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="active" checked={{user.profile.active}}>
          Active
        </label>
      </div>
    </div>
{{#unless editingSelf}}
    <div class="form-group">
      <strong>User Type</strong>
      {{#if isInRole 'admin,owner'}}
        {{> roleRadio role="admin" label="Admin"}}
        {{> roleRadio role="user" label="User"}}
      {{/if}}
    </div>
    {{/unless}}

    <div class="form-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary">
      </div>
    </div>
  </form>
</template>

<template name="roleRadio">
  <div class="radio">
    <label>
      <input type="radio" name="role" value="{{role}}" checked={{inRole ../user role}}>
      {{label}}
    </label>
  </div>
</template>


<template name="userDelete">
       <h1>Are You Sure Delete User</h1>
 <form class="form-inline" action="">
      <div class="form-group">
      <label for="username" class="control-label">Username</label>
      <input type="text" required readonly class="form-control" name="username"
        value="{{user.username}}" placeholder="Username">
    </div>
      <div class="form-group">
        <div class="controls">
          <input type="submit" value="Yes, Delete this Record" class="btn btn-primary">
              <input type="submit" value="Cancel" id="usercancel" class="btn btn-primary">
        </div>
      </div>
   
  </form>
</template>
