<template name="userList">
  <h1><i class="fa fa-users"></i>Users</h1>
    <div class="alert alert-danger usererror" style="display:none" ></div>
     <div class="alert alert-success no-margin usersucess" style="display:none"></div>
    <div class="row">
      <form class="form">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" required class="form-control" name="name" value="" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" required class="form-control" name="username" value="" placeholder="User Name">
          </div>
          <div class="form-group">
            <input type="email" required class="form-control" name="email" value="" placeholder="Email Address">
          </div>          
        </div>
        
        <div class="col-md-4">
          <div class="form-group">
            <input type="password" required class="form-control" name="password" value="" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" required class="form-control" name="canfirmPassword" value="" placeholder=" Confirm Password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="poweractive" name="active" >
              Is Active
            </label>
          </div>
        </div>      
        
        <div class="col-md-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="poweradmin" name="admin" >
              Is Admin
            </label>
          </div>
            <input type="hidden" class="form-control" name="company" value="{{currentUser.profile.company}}" >
          <button class="btn btn-primary" type="submit" name="saveusers" id="saveusers" >save</button>
        </div>
        </form>
    </div>
  <div class="row">
    {{> reactiveTable collection=users settings=tableSettings}}
  </div>

</template>

<template name="deleteusers">
   <a href="{{pathFor 'userDelete'}}" class="login-button btn btn-block configure-button btn-danger" id="userdel">Delete</a>
</template>
<!---------Edit Template----------->
<template name="editUserButton">
  <a href="{{pathFor 'userEdit'}}" class="btn btn-info btn-block btn-sm">Edit</a>
</template>
