<template name="categorieslist">
   <h1>Manage Categories</h1>
    <div class="alert alert-danger categoryerror" style="display:none" ></div>
    <div class="alert alert-success no-margin categorysuess" style="display:none"></div>
    <div class="row">
      <form class="form-inline">
        <input type="text" required name="category" id="category" value="" placeholder="Categorie Name"/>
          <div class="checkbox">
          <label>
            <input type="checkbox" id="categoryactive" name="active" >
            Is Active
          </label>
          </div>
        <button class="btn btn-primary" type="submit" name="savemanfact" id="savemanfact" >save</button>
        </form>
    </div>
    <div class="row">
            {{> reactiveTable collection=categories settings=tableSettings}}
    </div>
</template>

<template name="editcategory">
    <a href="{{pathFor 'CategorieEdit'}}" class="btn btn-info btn-block btn-sm">Edit</a>
</template>

<template name="deletecategory">
   <a href="{{pathFor 'categoryDelete'}}" class="login-button btn btn-block configure-button btn-danger" id="manufactdel">Delete</a>
</template>
<template name="CategorieEdit">
           <h1>Edit Categorie</h1>
      <div class="alert alert-danger categoryerror" style="display:none" ></div>
  <form role="form">
    <div class="form-group">
      <label for="manufacturer" class="control-label"> Categorie Name</label>
      <input type="text" required class="form-control" name="category"
        value="{{Categorie.name}}" placeholder="Username">
    </div>
    
    <div class="form-group">
      <strong>Active</strong>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="active" checked={{Categorie.active}}>
          Active
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary">
           <input type="submit" value="cancel" class="btn btn-primary" id="categorycancel">
      </div>
    </div>
  </form>
</template>



<template name="categoryDelete">
       <h1>Are You Sure Delete Categorie</h1>
 <form class="form-inline" action="">
      <div class="form-group">
        <label for="Categorie" class="control-label"> Categorie Name</label>
        <input type="text" required class="form-control" name="category"
          value="{{Categorie.name}}" readonly placeholder="Category Name">
      </div>
      <div class="form-group">
        <div class="controls">
          <input type="submit" value="Yes, Delete this Record" class="btn btn-primary">
              <input type="submit" value="Cancel" id="categorycancel" class="btn btn-primary">
        </div>
      </div>
   
  </form>
</template>