<template name="manufacturerList">
  <h1>Manage Manufacturers</h1>
    <div class="alert alert-danger manfacrterrer" style="display:none" ></div>
    <div class="alert alert-success no-margin" style="display:none"></div>
    <div class="row">
      <form class="form-inline">
        <input type="text" required name="manufact" id="manufact" value="" placeholder="Manufacturer Name"/>
          <div class="checkbox">
          <label>
            <input type="checkbox" id="manufaceact" name="active" >
            Is Active
          </label>
          </div>
        <button class="btn btn-primary" type="submit" name="savemanfact" id="savemanfact" >save</button>
        </form>
    </div>
    <div class="row">
      {{> reactiveTable collection=manufacturer settings=tableSettings}}
    </div>

</template>

<template name="editmanufacturer">
    <a href="{{pathFor 'manufacturerEdit'}}" class="btn btn-info btn-block btn-sm">Edit</a>
</template>

<template name="deletemanufacturer">
   <a href="{{pathFor 'manufacturerDelete'}}" class="login-button btn btn-block configure-button btn-danger" id="manufactdel">Delete</a>
</template>

<template name="manufacturerDelete">
     <h1>Are You Sure Delete Manufacturer</h1>
 <form class="form-inline" action="">
      <div class="form-group">
        <label for="manufacturer" class="control-label"> Manufacturer Name</label>
        <input type="text" required class="form-control" name="manufact"
          value="{{manufact.name}}" readonly placeholder="Username">
      </div>
      <div class="form-group">
        <div class="controls">
          <input type="submit" value="Yes, Delete this Record" class="btn btn-primary">
              <input type="submit" value="Cancel" id="manfacrcancel" class="btn btn-primary">
        </div>
      </div>
   
  </form>
  
</template>