<template name="manufacturerList">
  <div class="row">
    {{> reactiveTable collection=cars settings=tableSettings}}
  </div>
  <div class="add-cars row">
    <a href="{{pathFor 'carsSubmit'}}" class="cars-submit btn btn-primary">Add New Car / Line</a>
  </div>
</template>

<template name="editCarButton">
  <a href="{{pathFor 'carsEdit'}}" class="btn btn-info btn-block btn-sm">Edit</a>
</template>