<template name="manufacturerEdit">
    <h1>Edit Manufacturer</h1>
      <div class="alert alert-danger manfacrterrer" style="display:none" ></div>
  <form role="form">
    <div class="form-group">
      <label for="manufacturer" class="control-label"> Manufacturer Name</label>
      <input type="text" required class="form-control" name="manufact"
        value="{{manufact.name}}" placeholder="Username">
    </div>
    
    <div class="form-group">
      <strong>Active</strong>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="active" checked={{manufact.active}}>
          Active
        </label>
      </div>
    </div>


    <div class="form-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary">
           <input type="submit" value="cancel" class="btn btn-primary" id="cancelmanufacturer">
      </div>
    </div>
  </form>
</template>

