<template name="Powersourceslist">
   <h1>Manage Power Soures</h1>
    <div class="alert alert-danger powererror" style="display:none" ></div>
    <div class="alert alert-success no-margin powersuess" style="display:none"></div>
    <div class="row">
      <form class="form-inline">
        <input type="text" required name="powersoures" id="powersoures" value="" placeholder="Power Soures Name"/>
          <div class="checkbox">
          <label>
            <input type="checkbox" id="poweractive" name="active" >
            Is Active
          </label>
          </div>
        <button class="btn btn-primary" type="submit" name="savemanfact" id="savemanfact" >save</button>
        </form>
    </div>
    <div class="row">
            {{> reactiveTable collection=Powersources settings=tableSettings}}
    </div>
</template>

<template name="editPowersources">
    <a href="{{pathFor 'PowersourcesEdit'}}" class="btn btn-info btn-block btn-sm">Edit</a>
</template>

<template name="deletePowersources">
   <a href="{{pathFor 'PowersourcesDelete'}}" class="login-button btn btn-block configure-button btn-danger" id="manufactdel">Delete</a>
</template>
<template name="PowersourcesEdit">
           <h1>Edit Power Soures</h1>
           <div class="alert alert-danger powererror" style="display:none" ></div>
  <form role="form">
    <div class="form-group">
      <label for="manufacturer" class="control-label"> Categorie Name</label>
      <input type="text" required class="form-control" name="powersoures"
        value="{{Powersource.name}}" placeholder="Power soures">
    </div>
    
    <div class="form-group">
      <strong>Active</strong>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="active" checked={{Powersource.active}}>
          Active
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary">
           <input type="submit" value="cancel" class="btn btn-primary" id="powercancel">
      </div>
    </div>
  </form>
</template>



<template name="PowersourcesDelete">
       <h1>Are You Sure Delete Power Soures</h1>
 <form class="form-inline" action="">
      <div class="form-group">
        <label for="Powersource" class="control-label"> Categorie Name</label>
        <input type="text" required class="form-control" name="Powersource"
          value="{{Powersource.name}}" readonly placeholder="Power Soures Name">
      </div>
      <div class="form-group">
        <div class="controls">
          <input type="submit" value="Yes, Delete this Record" class="btn btn-primary">
              <input type="submit" value="Cancel" id="powercancel" class="btn btn-primary">
        </div>
      </div>
   
  </form>
</template>