<template name="homeTotals">
  <div class="col-md-6 alert alert-info">
    <p><b>Avg Time in Waiting Room:</b> {{avgTimeInWaitingRoom}}</p>
    <p><b>Avg Time with Finance:</b> {{avgTimeWithFinance}}</p>
    <p><b>Avg Total Time - Finance:</b> {{avgTotalTime}}</p>
    <p><b>Avg Income / Deal - Sales:</b> {{avgTotalSalesProfit}}</p>
    <p><b>Avg Income / Deal - Finance:</b> {{avgTotalProfit}}</p>
    <p><b>Avg Income / Deal - All:</b> {{avgAllProfit}}</p>
  </div>

  <div class="col-md-5 col-md-offset-1 alert alert-success">
    <p><b>Total Income - Sales:</b> {{totalSalesProfit}}</p>
    <p><b>Total Income - Finance:</b> {{totalProfit}}</p>
    <p><b>Total Income - All:</b> {{totalAllProfit}}</p>
    <p><b>Total Deals Today:</b> {{dealCount}}</p>
  </div>
</template>
