<template name="logintemplate">
    {{> companyregister}}
    {{> loginuser}}
</template>
<template name="companyregister">
     <div class="col-md-6">
    <h1>Create Company Account</h1>
      <div class="alert alert-danger usererror" style="display:none" ></div>
     <div class="alert alert-success no-margin usersucess" style="display:none"></div>
     <form class="form">
				
				<!-- user bio information field -->
				    <div class="col-md-6">
					<div class="form-group has-feedback">
					    <label for="exampleInputEmail1">Company Name</label>
                                              <input type="text" required class="form-control" name="company" value="" placeholder="Company Name">
					 </div>
					<div class="form-group has-feedback">
					    <label for="exampleInputEmail1">Username</label>
					    <input type="text" placeholder="Enter your username !" id="username" name="username" value="" class="form-control" required data-bv-field="username"><i style="display: none;" class="form-control-feedback" data-bv-icon-for="username"></i>
					<small style="display: none;" data-bv-validator="notEmpty" data-bv-validator-for="username" class="help-block">This value is not valid</small></div>
					<div class="form-group has-feedback">
					    <label for="exampleInputEmail1">Address</label>
					    <input type="text" placeholder="Enter Your Address !!" required name="address"  value="" class="form-control"  data-bv-field="city_state_country"><i style="display: none;" class="form-control-feedback" data-bv-icon-for="city_state_country"></i>
					<small style="display: none;" data-bv-validator="notEmpty" data-bv-validator-for="city_state_country" class="help-block">This value is not valid</small></div>
                                        <div class="form-group has-feedback">
					    <label for="exampleInputEmail1">Address2</label>
					    <input type="text" placeholder="Enter Your Address 2!!" name="address2" value="" class="form-control" data-bv-field="city_state_country"><i style="display: none;" class="form-control-feedback" data-bv-icon-for="city_state_country"></i>
					<small style="display: none;" data-bv-validator="notEmpty" data-bv-validator-for="city_state_country" class="help-block">This value is not valid</small></div>
				    </div>
                                    
				    <!-- user bio information field -->
				    <div class="col-md-6">
					<div class="form-group has-feedback">
					    <label for="exampleInputEmail1">Password</label>
					    <input type="password" placeholder="Enter your Password" id="password" name="password" class="form-control" value="" required data-bv-field="password"><i style="display: none;" class="form-control-feedback" data-bv-icon-for="password"></i>
					<small style="display: none;" data-bv-validator="notEmpty" data-bv-validator-for="password" class="help-block">The password is required and can't be empty</small><small style="display: none;" data-bv-validator="identical" data-bv-validator-for="password" class="help-block">The new password and its confirm are not the same</small></div>
					<div class="form-group has-feedback">
					    <label for="exampleInputEmail1">Confirm Password</label>
					    <input type="password" placeholder="Re-Enter your Password" name="re_enter_password" id="re_enter_password" class="form-control" required data-bv-field="re_enter_password"><i style="display: none;" class="form-control-feedback" data-bv-icon-for="re_enter_password"></i>
					<small style="display: none;" data-bv-validator="notEmpty" data-bv-validator-for="re_enter_password" class="help-block">The confirm password is required and can't be empty</small><small style="display: none;" data-bv-validator="identical" data-bv-validator-for="re_enter_password" class="help-block">The new password and its confirm are not the same</small></div>
					<div class="form-group has-feedback">
					    <label for="exampleInputEmail1">Zip Code</label>
					    <input type="text" placeholder="Please Enter You Zip code" name="zipcode" required value="" class="form-control"  data-bv-field="city_state_country"><i style="display: none;" class="form-control-feedback" data-bv-icon-for="city_state_country"></i>
					<small style="display: none;" data-bv-validator="notEmpty" data-bv-validator-for="city_state_country" class="help-block">This value is not valid</small></div>
					<div class="form-group has-feedback">
					    <label for="exampleInputEmail1">Your Website URL</label>
					    <input type="text" placeholder="Please Enter Your Website URL !!" name="siteurl"  value="" class="form-control"  data-bv-field="city_state_country"><i style="display: none;" class="form-control-feedback" data-bv-icon-for="city_state_country"></i>
					<small style="display: none;" data-bv-validator="notEmpty" data-bv-validator-for="city_state_country" class="help-block">This value is not valid</small></div>
					
				    </div>
				    <!-- user bio information field -->
				    
				    <!-- user bio information field -->
				    <div class="col-md-9">
					<div class="form-group">
					    <button class="btn btn-primary" name="create_account" id="create_account" type="submit">Create My Account</button>
					</div>
				    </div>
				
			    <input type="hidden" name="create_account" value=""></form>
  </div>
</template>
<template name="loginuser">
     <div class="col-md-6">
    <h1>Login Your Account</h1>
        <div class="col-md-8">
            <div class="alert alert-danger loginerror" style="display:none" ></div>
        </div>
    <form class="form">
				
				<!-- user bio information field -->
				    <div class="col-md-6">
					<div class="form-group has-feedback">
					    <label for="exampleInputEmail1">Username</label>
					    <input type="text" placeholder="User Name" id="company" name="company" value="" class="form-control" required data-bv-field="company"><i style="display: none;" class="form-control-feedback" data-bv-icon-for="company"></i>
					<small style="display: none;" data-bv-validator="notEmpty" data-bv-validator-for="company" class="help-block">This value is not valid</small></div>
					<div class="form-group has-feedback">
					    <label for="exampleInputEmail1">Password</label>
					    <input type="password" placeholder="Enter your password !" id="username" name="password" value="" class="form-control" required data-bv-field="username"><i style="display: none;" class="form-control-feedback" data-bv-icon-for="username"></i>
					<small style="display: none;" data-bv-validator="notEmpty" data-bv-validator-for="username" class="help-block">This value is not valid</small></div>
					</div>
                                    
				
				    <!-- user bio information field -->
				    
				    <!-- user bio information field -->
				    <div class="col-md-9">
					<div class="form-group">
					    <button class="btn btn-primary" name="login" type="submit">Login My Account</button>
					</div>
				    </div>
				
			    </form>
  </div>
    
</template>