<template name="modelsList">
    <h1>Manage Models</h1>
       <div class="alert alert-danger modelerrmsg" style="display:none" ></div>
       <div class="alert alert-success no-margin modelsussess" style="display:none"></div>
    <div class="row">
      <form class="form-inline">
        <select name="manufactur" class="selectpicker">
            {{#each manufacturer}}
            <option>{{this.name}}</option> 
            {{/each}}
        </select>
           <div class="form-group">
              <input type="text" required name="modelname" id="modelname" value="" placeholder="Model Name"/>
           </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="modelactive" name="active" >
              Is Active
            </label>
          </div>
          <button class="btn btn-primary" type="submit" name="savemanfact" id="savemanfact" >save</button>
      </form>
    </div>
  <div class="row">
    {{> reactiveTable collection=model settings=tableSettings}}
  </div>
</template>
<template name="editmodel">
    <a href="{{pathFor 'modelsEdit'}}" class="btn btn-info btn-block btn-sm">Edit</a>
</template>

<template name="deletemodel">
   <a href="{{pathFor 'modelsDelete'}}" class="login-button btn btn-block configure-button btn-danger" id="manufactdel">Delete</a>
</template>

<template name="modelsDelete">
      <h1>Are You Sure Delete Model</h1>
 <form class="form-inline" action="">
      <div class="form-group">
        <label for="manufacturer" class="control-label"> Model Name</label>
        <input type="text" required class="form-control" name="manufact"
          value="{{model.name}}" readonly placeholder="Username">
      </div>
      <div class="form-group">
        <div class="controls">
          <input type="submit" value="Yes, Delete this Record" class="btn btn-primary">
              <input type="submit" value="Cancel" id="manfacrcancel" class="btn btn-primary">
        </div>
      </div>
   
  </form>
  
</template>