<template name="modelsEdit">
    <h1>Model Edit</h1>
       <div class="alert alert-danger modelerrmsg" style="display:none" ></div>
       <div class="alert alert-success no-margin modelsussess" style="display:none"></div>
  <form role="form">
    <div class="form-group">
         <label for="manufacturer" class="control-label"> Manufacturer</label>
            <select name="manufactur" class="selectpicker form-control">
                {{#each manufacturer}}
                <option>{{this.name}}</option> 
                {{/each}}
            </select>
    </div>
    <div class="form-group">
      <label for="manufacturer" class="control-label"> Model Name</label>
      <input type="text" required class="form-control" name="modelname"
        value="{{model.name}}" placeholder="Username">
    </div>
    
    <div class="form-group">
      <strong>Active</strong>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="active" checked={{model.active}}>
          Active
        </label>
      </div>
    </div>


    <div class="form-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary">
             <input type="submit" value="cancel" class="btn btn-primary" id="cancelmodel">
      </div>
    </div>
  </form>
</template>

