<template name="accessDenied">
  <div class="alert alert-warning">
    <span class="glyphicon "></span> Welcome to Hount manager. Already Registered user Login or Create account
  </div>
 
</template>
