<template name="signIn">
  <div class="alert alert-warning">
    <span class="glyphicon "></span> Welcome to Hount manager. Already Registered user Login or Create account
    <script>     
      if(window.location.href.substr(-2) !== "#home") {
        window.location = '/' + "#home";
      }
    </script>
  </div>
  <div>

  </div>
   
</template>
